body,
html {
  height: 100%;
}

.header-area {
  width: 100%;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  padding: 15px 0;
  min-height: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
}

.header-area.fixed {
  z-index: 4;
  position: fixed;
  border-bottom: 0;
  top: 0;
  padding: 10px 0;
  transition: 450ms ease-out;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  min-height: 62px;
  border-color: rgba(0, 0, 0, 0.05);
}

.header-area.fixed .menu li a:before {
  bottom: -19px;
  background-color: #3e43e9;
}

.header-area .btn {
  color: transparent;
  text-transform: none;
  font-size: 13px;
  padding: 10px 20px;
  margin: 0;
}

/*menu*/

label input {
  right: 180px;
}

.navbar {
  padding: 0;
}

.navbar .navbar-toggler-icon {
  color: #2f2f2f;
  height: inherit;
  font-size: 25px;
  width: inherit;
  margin: 0;
}

.navbar .navbar-toggler {
  position: absolute;
  z-index: 9;
  padding: 0;
  top: 10px;
}

.menu {
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 145px;
}

.menu li {
  position: relative;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  margin: 0 15px;
  display: block;
  position: relative;
  text-transform: uppercase;
}

.menu li a.active,
.menu li a:hover {
  color: #fa5279;
  text-shadow: none;
}

.menu li a:before {
  content: "";
  position: absolute;
  background-color: #fa5279;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  height: 1px;
  bottom: -24px;
  opacity: 1;
  left: 0;
  width: 100%;
}

.menu li a:hover:before,
.menu li a.active:before,
.menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu li:last-child a {
  border-bottom: 0 solid #ddd;
}

.bg {
  background-image: url("https://i.ibb.co/7rrbZDW/playlistbackground.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
  transition: all 200ms ease-in-out;
}

.bg:hover {
  opacity: 100;
}

.main-content {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
}

.row h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.row h2,
h4,
p {
  text-align: center;
}

.row .project-image img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80%;
}

/* Footer */

.contact-link {
  color: #212529;
  text-decoration: none;
}

.contact-link:hover {
  color: #212529;
}

.footer-section {
  background-color: #efefef;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  padding: 100px;
}

.fab {
  color: #212529;
  font-size: 25px;
  margin-right: 15px;
  text-decoration: none;
}

.fa-linkedin {
  margin-right: 0px;
}

.fab:hover {
  color: #848383;
}

.footer-text a {
  color: #212529;
  text-decoration: none;
}

.footer-text a:hover {
  color: #848383;
}

@media screen and (max-width: 736px) {
  body,
  html {
    height: 50%;
  }

  .footer-section {
    padding: 30px;
  }
}

/* Tablet (landscape) */
@media screen and (max-width: 991px) {
  /*home area*/
  .home-area .image-item {
    width: 50%;
  }

  /*header*/
  .navbar {
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
  }

  .menu {
    left: 0;
    background: #ffffff;
    padding: 10px;
    margin-top: 40px;
    position: relative;
  }

  .menu li a {
    color: #333;
    line-height: 45px;
    border-bottom: 1px solid #ddd;
  }

  .menu li a.active,
  .menu li a:active,
  .menu li a:focus,
  .menu li a:hover {
    color: #fa5279;
  }

  .menu li a:before {
    display: none;
  }

  .header-area .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/*Mobile*/
@media screen and (max-width: 480px) {
  .logo-holder {
    margin-bottom: 5px;
  }

  .footer-text {
    margin-bottom: 5px;
  }
}
