html {
  scroll-behavior: smooth;
}

.header-area {
  width: 100%;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  padding: 15px 0;
  min-height: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
}

.header-area.fixed {
  z-index: 4;
  position: fixed;
  border-bottom: 0;
  top: 0;
  padding: 10px 0;
  transition: 450ms ease-out;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  min-height: 62px;
  border-color: rgba(0, 0, 0, 0.05);
}

.header-area.fixed .menu li a:before {
  bottom: -19px;
  background-color: #3e43e9;
}

.header-area .btn {
  text-transform: none;
  font-size: 13px;
  padding: 10px 20px;
  margin: 0;
}

/*menu*/

label input {
  right: 180px;
}

.navbar {
  padding: 0;
}

.navbar .navbar-toggler-icon {
  color: #2f2f2f;
  height: inherit;
  font-size: 25px;
  width: inherit;
  margin: 0;
}

.navbar .navbar-toggler {
  position: absolute;
  z-index: 9;
  padding: 0;
  top: 10px;
}

.menu {
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 145px;
}

.menu li {
  position: relative;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  margin: 0 15px;
  display: block;
  position: relative;
  text-transform: uppercase;
}

.menu li a.active,
.menu li a:hover {
  color: #fa5279;
  text-shadow: none;
}

.menu li a:before {
  content: "";
  position: absolute;
  background-color: #fa5279;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  height: 1px;
  bottom: -24px;
  opacity: 1;
  left: 0;
  width: 100%;
}

.menu li a:hover:before,
.menu li a.active:before,
.menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu li:last-child a {
  border-bottom: 0 solid #ddd;
}

.home-area {
  height: 100vh;
  min-height: 600px;
  background-image: url("https://i.ibb.co/xHR2H23/Screenshot-2020-10-14-at-21-25-53.png");
  background-size: 740px 800px;
  background-repeat: no-repeat;
  background-position: right top;
  overflow: hidden;
  z-index: 2;
}

.home-area .container {
  position: relative;
}

.home-area .home-content {
  position: relative;
  z-index: 2;
  color: #131212;
}

.home-area .greet {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
}

.home-area .greet strong {
  background: #fae0e6;
  padding: 4px;
  font-size: 16px;
}

.home-area .skills {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
}

.home-area .description {
  margin-bottom: 35px;
}

/* title text */

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* title text */

.cd-headline.scale b {
  opacity: 0;
}

.cd-headline.scale i {
  display: inline-block;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  font-style: normal;
}

.is-visible .cd-headline.scale i {
  opacity: 1;
}

.cd-headline.scale i.in {
  -webkit-animation: scale-up 0.6s forwards;
  -moz-animation: scale-up 0.6s forwards;
  animation: scale-up 0.6s forwards;
}

.cd-headline.scale i.out {
  -webkit-animation: scale-down 0.6s forwards;
  -moz-animation: scale-down 0.6s forwards;
  animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
  opacity: 1;
}

@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes scale-up {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  60% {
    -moz-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
}

@-moz-keyframes scale-down {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  60% {
    -moz-transform: scale(0);
    opacity: 0;
  }
}

@keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

.select-project {
  margin-top: -20px;
}

.select-project h4 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 100%;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    text-align: center;
}

.image {
  cursor: default;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle a {
  color: #131212;
  text-decoration: none;
}

.col:hover .image {
  opacity: 0.3;
}

.col:hover .middle {
  opacity: 1;
}

.text {
  border-radius: 35px; 
  font-size: 12px;
  padding: 10px 21px;
}

.colour1 {
  background-color: rgba(254, 236, 78, 0.8);
}

.colour2 {
background-color: rgba(223, 225, 246, 0.81)
}

.colour3 {
  background-color:rgba(29, 111, 174, 0.52)
}

.colour4 {
background-color:rgba(194, 229, 227, 0.87);
}

.colour5 {
  background-color: rgba(109, 109, 109, 0.52);
}

.colour6 {
background-color: #80a9d4;
}

.colour7 {
background-color: #e5aebb;
}

.image:hover {
  cursor: pointer;
}

.row {
  margin-right: 0;
}
.col {
  padding: 0;
}

.footer-section {
    background-color: #efefef;

  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 100px;
}

.fab {
  color: #212529;
  font-size: 25px;
  margin-right: 15px;
  text-decoration: none;
}

.fa-linkedin {
  margin-right: 0px;
}

.fab:hover {
  color: #848383;
}

.footer-text a {
  color: #212529;
  text-decoration: none;
}

.footer-text a:hover {
  color: #848383;
}

/*== Mobile Only ==*/
@media screen and (max-width: 736px) {
  .home-area {
    background-size: 540px 700px;
  }
}

/* Desktop */
@media screen and (max-width: 1199px) {
  .home-area .home-content {
    margin-top: 40px;
  }

  .home-area .skills {
    font-size: 50px;
  }
}

/* Laptop */
@media screen and (max-width: 1024px) {
  .home-area .home-content {
    margin-top: 80px;
  }
}

/* Tablet (landscape) */
@media screen and (max-width: 991px) {
  /*home area*/
  .home-area .image-item {
    width: 50%;
  }

  /*header*/
  .navbar {
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
  }

  .menu {
    left: 0;
    background: #ffffff;
    padding: 10px;
    margin-top: 40px;
    position: relative;
  }

  .menu li a {
    color: #333;
    line-height: 45px;
    border-bottom: 1px solid #ddd;
  }

  .menu li a.active,
  .menu li a:active,
  .menu li a:focus,
  .menu li a:hover {
    color: #fa5279;
  }

  .menu li a:before {
    display: none;
  }

  .header-area #logo_home {
    top: 15px;
  }

  .header-area .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Tablet (portrait) */
@media screen and (max-width: 767px) {
  /*home area*/
  .home-area .image-item {
    display: none;
  }

  .home-area .skills,
  .home-area .greet,
  .home-area .description {
    text-align: center;
  }

  .home-area .button-area {
    margin: 0 auto;
    width: 295px;
  }
}

/*Mobile*/
@media screen and (max-width: 480px) {
  .cd-words-wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .home-area .greet,
  .home-area .greet strong {
    font-size: 14px;
  }

  .home-area .skills {
    font-size: 50px;
  }

  .home-area .description {
    font-size: 14px;
    line-height: 21px;
  }

  .home-area .home-content {
    margin-top: 15px;
  }

  .home-area .image-item {
    display: none;
  }

  .about-area .about-info li {
    width: 100%;
  }
  .footer-section {
  padding: 30px;
}

.logo-holder{
  margin-bottom: 5px;
}

.footer-text{
  margin-bottom: 5px;
}
}
